@use "./variables" as *;
@use "./typography" as *;

// Mixin for text styling
@mixin text-style(
  $font-family,
  $font-size,
  $line-height,
  $font-weight,
  $font-style
) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  font-style: $font-style;
}

// Mixin for background
@mixin background($background-color) {
  background-color: $background-color;
  background-size: cover;
  background-position: center;
}

// Mixin for flex - center
@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Mixin for flex - space between
@mixin between-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Mixin for flex - space around
@mixin around-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// Mixin for flex - flex start
@mixin start-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin form-field {
  overflow: auto;
  resize: none;
  padding: 0 1rem;
  border-radius: 10px;
  height: 2.375rem;
  border: 1px solid $cloud;
  //font-family: $body-font-stack;
  color: $black;
}

@mixin select-field {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  cursor: pointer;
  overflow: auto;
  resize: none;
  padding: 0 1rem;
  border-radius: 20px;
  height: 2.25rem;
  border: 1px solid $cloud;
  //font-family: $body-font-stack;
  //color: $slate;
}

@mixin btn-style {
  font-size: 0.875rem;
  font-weight: 400;
  border-radius: 8px;
  border: none;
  padding: 0.5rem 1rem;
  width: 46%;
  cursor: pointer;
}

@mixin btn-style-tablet {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  width: auto;
  height: 2.375rem;
  transition: background-color 0.3s ease;
}

@mixin primary-btn {
  background-color: $Pastel_Orange;
  color: $white;
}

@mixin primary-hover {
  //background-color: $orange;
  //color: $orange;
  background-color: $graphite;
  font-style: bold;
  border: none;
}

@mixin secondary-btn {
  background-color: $orange;
  color: $white;
}

@mixin secondary-hover {
  //border: 1.5x solid $instock-indigo;
  background-color: $orangered;
  color: $white;
  font-size: large;
}

@mixin delete-btn {
  background-color: $red;
  color: $white;
}

@mixin form-focus {
  border: 1.5px solid $instock-indigo;
  outline: none;
}

@mixin select-error-border {
  border: 1.5px solid $red;
  border-radius: 20px;
}

@mixin page-card {
  border-radius: 3px;
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
  background-color: $white;
  bottom: 3.5rem;
}

@mixin page-card-tablet {
  margin: auto 2rem;
  bottom: 6rem;
}

@mixin page-card-desktop {
  width: 63.75rem;
  margin: 0 7.875rem;
}

@mixin table-title {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 600;
  color: $slate;
}

@mixin description-title {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: $slate;
  text-transform: uppercase;
}
