//colours

$black: #13182c;

$indigo: #0a2665;

$graphite: #232940;

$slate: #5c667e;

$cloud: #bdc5d5;

$White: #ffffff;

$orangered: #c44610;

$dark-blue: #061b4d;
$orange: #ff8c00;
$light-grey: #f4f4f4;
$white: #fff;

// Media
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Font Families
$Newsreader: Newsreader, sans-serif;
$Outfit: Outfit, sans-serif;

$body-font-stack: "Titillium Web", "Arial", "Calibri", sans-serif;

// Responsive Design Variables

$tablet-breakpoint: 768px;

// $desktop-breakpoint: 1280px;

$mobile-spacing: 1rem;

$tablet-spacing: 1.5rem; // This will also be for desktop

$tablet-margin: 2.5rem; // Exterior Margin for tablet size

$font-family: "Outfit", "Arial", "Calibri", sans-serif;
