//colours

$black: #13182c;

$indigo: #0a2665;

$graphite: #232940;

$slate: #5c667e;

$cloud: #cdd4e2;

$silver: rgb(229, 229, 229);

$White: #ffffff;

$orangered: #c44610;

$dark-blue: #061b4d;

$orange: #fc763c;
$light-grey: #f4f4f4;
$white: #fff;

$Cream: #fddfc3;
$Light_Orange: #ffca99;
$Pastel_Orange: #f89f5b;
$Bright_Orange: #ff7b29;
$Vibrant_Orange: #ff6700;
$Deep_Orange: #e65100;
$Dark_Orange: #cc5500;
$Burnt_Orange: #a64b2a;

// Media
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Font Families
$Newsreader: Newsreader, sans-serif;
$Outfit: Outfit, sans-serif;
$HelloKetta: HelloKetta-d99oX, Arial, sans-serif;
$RobotoFlex: RobotoFlex-Regular, Arial, sans-serif;

$body-font-s: "Titillium Web", "Arial", "Calibri", sans-serif;

// Responsive Design Variables

$tablet-breakpoint: 768px;

// $desktop-breakpoint: 1280px;

$mobile-spacing: 1rem;

$tablet-spacing: 1.5rem; // This will also be for desktop

$tablet-margin: 2.5rem; // Exterior Margin for tablet size

$font-family: "Outfit", "Arial", "Calibri", sans-serif;
