//colours

$black: #13182c;
$dark-blue: #061b4d;
$cloud: #cdd4e2;
$light-grey: #f4f4f4;
$silver: rgb(229, 229, 229);
$White: #ffffff;
$white: #fff;

$orangered: #c44610;
$orange: #fc763c;
$Cream: #fddfc3;
$Light_Orange: #ffca99;
$Pastel_Orange: #f89f5b;
$Bright_Orange: #ff7b29;
$Vibrant_Orange: #ff6700;
$Deep_Orange: #e65100;
$Dark_Orange: #cc5500;
$Burnt_Orange: #a64b2a;

// Media
$tablet-breakpoint: 768px;

//Font Families
$Outfit: Outfit, sans-serif;
$HelloKetta: HelloKetta-d99oX, Arial, sans-serif;
$RobotoFlex: RobotoFlex-Regular, Arial, sans-serif;
