@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.exercise {
  display: flex;
  flex-direction: column;

  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
  }

  &__search-input {
    @include form-field;
    padding-left: 20px;
    width: 100%;
    margin: 1rem 2rem;
  }

  &__search-icon {
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: $dark-blue;
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem 1rem;
    gap: 1rem;
  }

  &__filter-item {
    display: flex;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid $cloud;
    border-radius: 10px;
    transition: color 0.3s ease, transform 0.2s ease;
    cursor: pointer;

    &:hover {
      @include primary-hover;
      background-color: $orange;
      transform: scale(1.05);
    }
  }

  &__filter-menu {
    background-color: $cloud;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  &__filter-option {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: $orange;
      color: white;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-4px);
    }
  }

  &__name {
    margin-left: 1rem;
  }

  &__image {
    max-width: 120px;
    max-height: 80px;
    object-fit: cover;
    border-radius: 4px;
  }
}
