@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.start-workout {
  &__title {
    margin: 1rem;
    text-align: start;
  }

  &__button-container {
    display: flex;
    width: 100%;
  }

  &__button-add {
    @include btn-style;
    @include primary-btn;
    margin: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }

  &__button-cancel {
    @include btn-style;
    @include secondary-btn;
    margin: 1rem;
    transition: background-color 0.3s ease;
    color: black;
    background-color: orangered;

    &:hover {
      background-color: #c82333;
    }
  }
}
