@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.start-workout {
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin: 1rem;
    text-align: start;
  }

  &__button-container {
    //display: flex;
    //width: 100%;
  }

  &__button-add {
    @include btn-style;
    @include primary-btn;
    margin: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      @include primary-hover;
      //background-color: #4caf50;
    }
  }

  &__button-cancel {
    @include btn-style;
    @include secondary-btn;
    margin: 1rem;
    background-color: $cloud;

    &:hover {
      background-color: red;
    }
  }
}
