/* Global Styles */
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-size: 100%;
  // background-color: $light-grey;
  // color: $dark-blue;
  background-color: $dark-blue;
  color: $light-grey;

  &__nav {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    color: $white;
    font-size: 12px;
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      color: $orange;
      //background-color: $white;
      transform: translateY(-4px); /* Subtle hover effect */
    }

    &--primary {
      color: $orange; /* Highlight Start Workout */
      &:hover {
        color: $white;
        background-color: $orange;
      }
    }
  }

  /* Active Link Highlight */
  .header__link.active {
    border-bottom: 2px solid $orange;
    color: $orange;
  }
}
