@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.templateSection {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  //width: 500px;
  margin: 2rem;
  //max-width: 1000px;
  //margin: 2rem auto;

  &__title {
    margin-bottom: 1rem;
    color: #333;
    text-align: start;
  }
}

.templateCard {
  position: relative;
  &__section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    //border-bottom: 1px solid #eee;
    padding: 1rem 0;

    &:last-child {
      border-bottom: none;
    }
  }

  &__title {
    // display: flex;
    // justify-content: space-between;
    // align-items: first baseline;
    margin-bottom: 0.5rem;
  }

  &__name {
    color: #333;
  }

  &__note {
    background-color: #f7dabd; // Light paper-like color
    //border: 1px solid #dcdcdc; // Soft border
    border-radius: 8px;
    //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Soft shadow to make it pop
    padding: 0.5rem;
    //font-family: "Courier New", Courier, monospace; // Monospace font for that handwritten feel
    font-size: 10px;
    color: #444;
    max-width: 50px;
    //margin-top: 1rem;
    margin: 0;
    //line-height: 1.5;
    position: absolute;
    right: 0;
  }

  &__date {
    color: #888;
  }

  &__exerciseList {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__exerciseItem {
    font-size: 0.75rem;
    line-height: 1.625rem;
    color: #555;
    padding: 0.5rem 0;

    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }
}

.section-note {
}
