@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.newSession {
  display: flex;
  flex-direction: column;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
  }
  &__input {
    @include form-field;
  }
  &__start-exercise-button {
    @include btn-style;
    @include primary-btn;
    background-color: orangered;
    width: 80%;
    margin: 1rem auto;
    display: block;
  }
  &__button {
    @include btn-style;
    @include primary-btn;
  }
}
